body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #101010;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container {
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  max-width: 400px;
  padding: 10px;
  background-color: #333;
  border-radius: 10px;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 10px;
}

select,
input[type="text"],
button {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: none;
  border-radius: 5px;
  box-sizing: border-box;
}

select,
input[type="text"] {
  background-color: #555;
  color: #fff;
}

button {
  background-color: #f357a1;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:hover {
  background-color: #d94681;
}

.queue-container {
  margin-top: 10px;
  width: 100%;
}

button:disabled {
  background-color: #777;
  cursor: not-allowed;
}

span {
  display: block;
  margin-bottom: 5px;
}